* {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
font-family:Segoe UI;
background:#f4f6f9;
}

.navbar {
background:#1e293b;
color:white;
padding:15px;
font-size:20px;
}

.main {
display:flex;
}

.sidebar {
width:220px;
height:100vh;
background:#111827;
color:white;
padding:20px;
}

.sidebar ul {
list-style:none;
}

.sidebar li {
padding:10px;
cursor:pointer;
}

.sidebar li:hover {
background:#374151;
}

.content {
flex:1;
padding:30px;
}

.cards {
display:flex;
gap:20px;
margin-bottom:20px;
}

.card {
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
flex:1;
}

.blue {
border-left:5px solid blue;
}

.green {
border-left:5px solid green;
}

.orange {
border-left:5px solid orange;
}

button {
padding:10px;
background:#3b82f6;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover {
background:#2563eb;
}

input {
padding:10px;
margin:10px 0;
width:60%;
}

ul {
list-style:none;
}

li {
margin:5px 0;
}
